# 02 Limpieza y Preprocesamiento de Datos

Este notebook se enfoca en la limpieza y preprocesamiento del conjunto de datos para prepararlo para el análisis y modelado.

## 1. Cargar el Conjunto de Datos

In [2]:
# Importar la librería necesarias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Cargar el conjunto de datos
file_path = '../data/raw/bank-full.csv'
data = pd.read_csv(file_path, sep=';')
data_clean = data.copy()

# Mostrar las primeras filas del conjunto de datos
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

## 2. Manejo de Valores Faltantes

In [3]:
# Identificación de valores faltantes
missing_data = data.isnull().sum()

# Verificar si hay valores faltantes en el DataFrame
if missing_data.sum() == 0:
    print("No hay valores faltantes en el DataFrame.")
else:
    print(f"Total de valores faltantes en el DataFrame: {missing_data.sum()}")

    # Filtrar las columnas con valores faltantes
    missing_data = missing_data[missing_data > 0]
    
    # Visualización de valores faltantes
    missing_data.plot(kind='bar', figsize=(12, 6))
    plt.title('Valores Faltantes por Variable')
    plt.xlabel('Variable')
    plt.ylabel('Número de Valores Faltantes')
    plt.show()

    # Ejemplo de imputación de valores faltantes con la mediana (modificar según sea necesario)
    for column in missing_data.index:
        if data[column].dtype == 'object':
            data_clean[column].fillna(data[column].mode()[0], inplace=True)
        else:
            data_clean[column].fillna(data[column].median(), inplace=True)

No hay valores faltantes en el DataFrame.

## 3. Manejo de Valores Atípicos

In [4]:
# Función para detectar valores atípicos utilizando el método del rango intercuartílico (IQR)
def detect_outliers(data: pd.DataFrame, num_var: str) -> pd.DataFrame:
    Q1 = data[num_var].quantile(0.25)
    Q3 = data[num_var].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = data[(data[num_var] < lower_bound) | (data[num_var] > upper_bound)]
    return outliers

# Seleccionar las variables numéricas
num_vars = data.select_dtypes(include=['int64']).columns
print(num_vars)

# Detectar valores atípicos en todas las variables numéricas
outliers = []
for num_var in num_vars:
    outliers.append(detect_outliers(data, num_var))

# Eliminar filas con valores atípicos
print(outliers)
print(f"Total de filas con valores atípicos: {sum([len(outlier) for outlier in outliers])}")
print("No se eliminarán los valores atípicos en este ejemplo.")

Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'], dtype='object')
[       age      job   marital  education default  balance housing loan  \
29158   83  retired   married    primary      no      425      no   no
29261   75  retired  divorced    primary      no       46      no   no
29263   75  retired   married    primary      no     3324      no   no
29322   83  retired   married   tertiary      no     6236      no   no
29865   75  retired  divorced    primary      no     3881     yes   no
...    ...      ...       ...        ...     ...      ...     ...  ...
45163   71  retired   married  secondary      no     2064      no   no
45191   75  retired  divorced   tertiary      no     3810     yes   no
45204   73  retired   married  secondary      no     2850      no   no
45207   71  retired  divorced    primary      no     1729      no   no
45208   72  retired   married  secondary      no     5715      no   no

         contact  day month  duration  campaign  pdays  previous poutcome    y
29158  telephone    2   feb       912         1     -1         0  unknown   no
29261   cellular    2   feb       294         1     -1         0  unknown   no
29263   cellular    2   feb       149         1     -1         0  unknown   no
29322   cellular    2   feb       283         2     -1         0  unknown   no
29865   cellular    4   feb       136         3     -1         0  unknown  yes
...          ...  ...   ...       ...       ...    ...       ...      ...  ...
45163   cellular    9   nov       379         2     92         3  failure   no
45191   cellular   16   nov       262         1    183         1  failure  yes
45204   cellular   17   nov       300         1     40         8  failure  yes
45207   cellular   17   nov       456         2     -1         0  unknown  yes
45208   cellular   17   nov      1127         5    184         3  success  yes

[487 rows x 17 columns],        age          job   marital  education default  balance housing loan  \
34      51   management   married   tertiary      no    10635     yes   no
65      51   management   married   tertiary      no     6530     yes   no
69      35  blue-collar    single  secondary      no    12223     yes  yes
70      57  blue-collar   married  secondary      no     5935     yes  yes
186     40     services  divorced    unknown      no     4384     yes   no
...    ...          ...       ...        ...     ...      ...     ...  ...
45164   35     services   married   tertiary      no     4655      no   no
45181   46  blue-collar   married  secondary      no     6879      no   no
45185   60     services   married   tertiary      no     4256     yes   no
45191   75      retired  divorced   tertiary      no     3810     yes   no
45208   72      retired   married  secondary      no     5715      no   no

        contact  day month  duration  campaign  pdays  previous poutcome    y
34      unknown    5   may       336         1     -1         0  unknown   no
65      unknown    5   may        91         1     -1         0  unknown   no
69      unknown    5   may       177         1     -1         0  unknown   no
70      unknown    5   may       258         1     -1         0  unknown   no
186     unknown    5   may       315         1     -1         0  unknown   no
...         ...  ...   ...       ...       ...    ...       ...      ...  ...
45164  cellular    9   nov       111         2     -1         0  unknown   no
45181  cellular   15   nov        74         2    118         3  failure   no
45185  cellular   16   nov       200         1     92         4  success  yes
45191  cellular   16   nov       262         1    183         1  failure  yes
45208  cellular   17   nov      1127         5    184         3  success  yes

[4729 rows x 17 columns], Empty DataFrame
Columns: [age, job, marital, education, default, balance, housing, loan, contact, day, month, duration, campaign, pdays, previous, poutcome, y]
Index: [],        age          job   marital  education default  balance housing loan  \
37      53   technician   married  secondary      no       -3      no   no
43      54      retired   married  secondary      no      529     yes   no
53      42       admin.    single  secondary      no      -76     yes   no
59      46     services   married    primary      no      179     yes   no
61      53   technician  divorced  secondary      no      989     yes   no
...    ...          ...       ...        ...     ...      ...     ...  ...
45124   27  blue-collar    single    primary      no      232     yes   no
45199   34  blue-collar    single  secondary      no     1475     yes   no
45200   38   technician   married  secondary      no      557     yes   no
45206   51   technician   married   tertiary      no      825      no   no
45208   72      retired   married  secondary      no     5715      no   no

        contact  day month  duration  campaign  pdays  previous poutcome    y
37      unknown    5   may      1666         1     -1         0  unknown   no
43      unknown    5   may      1492         1     -1         0  unknown   no
53      unknown    5   may       787         1     -1         0  unknown   no
59      unknown    5   may      1778         1     -1         0  unknown   no
61      unknown    5   may       812         1     -1         0  unknown   no
...         ...  ...   ...       ...       ...    ...       ...      ...  ...
45124  cellular   26   oct       701         2     -1         0  unknown  yes
45199  cellular   16   nov      1166         3    530        12    other   no
45200  cellular   16   nov      1556         4     -1         0  unknown  yes
45206  cellular   17   nov       977         3     -1         0  unknown  yes
45208  cellular   17   nov      1127         5    184         3  success  yes

[3235 rows x 17 columns],        age            job  marital  education default  balance housing loan  \
758     59       services  married  secondary      no      307     yes  yes
780     30         admin.  married  secondary      no        4      no   no
906     27       services   single  secondary      no        0     yes   no
1103    52     technician  married    unknown      no      133     yes   no
1105    43         admin.  married   tertiary      no     1924     yes   no
...    ...            ...      ...        ...     ...      ...     ...  ...
44666   25     technician   single  secondary      no     1298      no   no
44680   27  self-employed   single   tertiary      no      560      no   no
44770   37       services   single   tertiary      no     1189      no   no
44886   38     management  married   tertiary      no        0      no   no
45056   64     management  married   tertiary      no     5112      no   no

         contact  day month  duration  campaign  pdays  previous poutcome    y
758      unknown    6   may       250         7     -1         0  unknown   no
780      unknown    7   may       172         8     -1         0  unknown   no
906      unknown    7   may       388         7     -1         0  unknown   no
1103     unknown    7   may       253         8     -1         0  unknown   no
1105     unknown    7   may       244         7     -1         0  unknown   no
...          ...  ...   ...       ...       ...    ...       ...      ...  ...
44666   cellular    2   sep       206         7     94         2    other   no
44680  telephone    3   sep       543         9    465         2  failure   no
44770   cellular   13   sep       323         9    199         4    other  yes
44886   cellular   24   sep       246        12    197         6  failure   no
45056  telephone   19   oct       898         7    137        11    other  yes

[3064 rows x 17 columns],        age           job  marital  education default  balance housing loan  \
24060   33        admin.  married   tertiary      no      882      no   no
24062   42        admin.   single  secondary      no     -247     yes  yes
24064   33      services  married  secondary      no     3444     yes   no
24072   36    management  married   tertiary      no     2415     yes   no
24077   36    management  married   tertiary      no        0     yes   no
...    ...           ...      ...        ...     ...      ...     ...  ...
45199   34   blue-collar   single  secondary      no     1475     yes   no
45201   53    management  married   tertiary      no      583      no   no
45204   73       retired  married  secondary      no     2850      no   no
45208   72       retired  married  secondary      no     5715      no   no
45210   37  entrepreneur  married  secondary      no     2971      no   no

         contact  day month  duration  campaign  pdays  previous poutcome    y
24060  telephone   21   oct        39         1    151         3  failure   no
24062  telephone   21   oct       519         1    166         1    other  yes
24064  telephone   21   oct       144         1     91         4  failure  yes
24072  telephone   22   oct        73         1     86         4    other   no
24077  telephone   23   oct       140         1    143         3  failure  yes
...          ...  ...   ...       ...       ...    ...       ...      ...  ...
45199   cellular   16   nov      1166         3    530        12    other   no
45201   cellular   17   nov       226         1    184         4  success  yes
45204   cellular   17   nov       300         1     40         8  failure  yes
45208   cellular   17   nov      1127         5    184         3  success  yes
45210   cellular   17   nov       361         2    188        11    other   no

[8257 rows x 17 columns],        age           job  marital  education default  balance housing loan  \
24060   33        admin.  married   tertiary      no      882      no   no
24062   42        admin.   single  secondary      no     -247     yes  yes
24064   33      services  married  secondary      no     3444     yes   no
24072   36    management  married   tertiary      no     2415     yes   no
24077   36    management  married   tertiary      no        0     yes   no
...    ...           ...      ...        ...     ...      ...     ...  ...
45199   34   blue-collar   single  secondary      no     1475     yes   no
45201   53    management  married   tertiary      no      583      no   no
45204   73       retired  married  secondary      no     2850      no   no
45208   72       retired  married  secondary      no     5715      no   no
45210   37  entrepreneur  married  secondary      no     2971      no   no

         contact  day month  duration  campaign  pdays  previous poutcome    y
24060  telephone   21   oct        39         1    151         3  failure   no
24062  telephone   21   oct       519         1    166         1    other  yes
24064  telephone   21   oct       144         1     91         4  failure  yes
24072  telephone   22   oct        73         1     86         4    other   no
24077  telephone   23   oct       140         1    143         3  failure  yes
...          ...  ...   ...       ...       ...    ...       ...      ...  ...
45199   cellular   16   nov      1166         3    530        12    other   no
45201   cellular   17   nov       226         1    184         4  success  yes
45204   cellular   17   nov       300         1     40         8  failure  yes
45208   cellular   17   nov      1127         5    184         3  success  yes
45210   cellular   17   nov       361         2    188        11    other   no

[8257 rows x 17 columns]]
Total de filas con valores atípicos: 28029
No se eliminarán los valores atípicos en este ejemplo.

## 4. Codificación de Variables Categóricas

### 4.1 Reemplazar los valores dicotómicos

In [5]:
# Seleccionar las variables categoricas
cat_vars = data.select_dtypes(include=['object']).columns
print(cat_vars)

# Identificar las variables categóricas binarias
bool_vars = [cat_var for cat_var in cat_vars if data[cat_var].nunique() == 2]

# Convertir las variables categóricas binarias a variables numéricas
dict_map = {'yes': 1, 'no': 0}

for bool_var in bool_vars:
    data_clean[bool_var] = data_clean[bool_var].replace(dict_map)

# Mostrar las primeras filas del conjunto de datos transformado
data_clean.head()

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'y'],
      dtype='object')

C:\Users\HernanCham\AppData\Local\Temp\ipykernel_17528\251865196.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_clean[bool_var] = data_clean[bool_var].replace(dict_map)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,0,2143,1,0,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,0,29,1,0,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,0,2,1,1,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,0,1506,1,0,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,0,1,0,0,unknown,5,may,198,1,-1,0,unknown,0

### 4.2 Codificar el resto de Variables Categoricas

In [6]:
# Convertir variables categóricas a variables dummy
data_clean = pd.get_dummies(data_clean, drop_first=True)

# Mostrar las primeras filas del conjunto de datos transformado
data_clean.head()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
0,58,0,2143,1,0,5,261,1,-1,0,...,False,False,False,True,False,False,False,False,False,True
1,44,0,29,1,0,5,151,1,-1,0,...,False,False,False,True,False,False,False,False,False,True
2,33,0,2,1,1,5,76,1,-1,0,...,False,False,False,True,False,False,False,False,False,True
3,47,0,1506,1,0,5,92,1,-1,0,...,False,False,False,True,False,False,False,False,False,True
4,33,0,1,0,0,5,198,1,-1,0,...,False,False,False,True,False,False,False,False,False,True

## 5. Escalado de Variables Numéricas

In [7]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

# Seleccionar solo las columnas numéricas
num_vars = data.select_dtypes(include=['int64']).columns

# Identificar las variables escalables
esc_vars = [var for var in num_vars if var not in bool_vars]

# Elegir el método de escalado (MinMax, Standard, Robust, Log)
scaling_method = 'minmax'  # Cambia esto a 'minmax', 'standard', 'robust', o 'log' según sea necesario

if scaling_method == 'minmax':
    scaler = MinMaxScaler()
    data_clean[esc_vars] = scaler.fit_transform(data_clean[esc_vars])
elif scaling_method == 'standard':
    scaler = StandardScaler()
    data_clean[esc_vars] = scaler.fit_transform(data_clean[esc_vars])
elif scaling_method == 'robust':
    scaler = RobustScaler()
    data_clean[esc_vars] = scaler.fit_transform(data_clean[esc_vars])
elif scaling_method == 'log':
    data_clean[esc_vars] = data_clean[esc_vars].apply(lambda x: np.log(x + 1))

# Mostrar las primeras filas del conjunto de datos escalado
data_clean.head()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
0,0.519481,0,0.092259,1,0,0.133333,0.053070,0.0,0.0,0.0,...,False,False,False,True,False,False,False,False,False,True
1,0.337662,0,0.073067,1,0,0.133333,0.030704,0.0,0.0,0.0,...,False,False,False,True,False,False,False,False,False,True
2,0.194805,0,0.072822,1,1,0.133333,0.015453,0.0,0.0,0.0,...,False,False,False,True,False,False,False,False,False,True
3,0.376623,0,0.086476,1,0,0.133333,0.018707,0.0,0.0,0.0,...,False,False,False,True,False,False,False,False,False,True
4,0.194805,0,0.072812,0,0,0.133333,0.040260,0.0,0.0,0.0,...,False,False,False,True,False,False,False,False,False,True

## 6. División del Conjunto de Datos

In [8]:
from sklearn.model_selection import train_test_split

# Definir las características (X) y la variable objetivo (y)
X = data_clean.drop('y', axis=1)
y = data_clean['y']

# Dividir el conjunto de datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=8)

# Mostrar las dimensiones de los conjuntos de datos
print(f'X_train shape: {X_train.shape}')
print(f'X_test shape: {X_test.shape}')
print(f'y_train shape: {y_train.shape}')
print(f'y_test shape: {y_test.shape}')

X_train shape: (33908, 42)
X_test shape: (11303, 42)
y_train shape: (33908,)
y_test shape: (11303,)

## 7. Guardar Datos Preprocesados

In [9]:
dir_path = '../data/interim'

# Guardar la data_clean
data_clean.to_csv(f'{dir_path}/bank-full.csv', index=False)

# Guardar los conjuntos de datos preprocesados
X_train.to_csv(f'{dir_path}/X_train.csv', index=False)
X_test.to_csv(f'{dir_path}/X_test.csv', index=False)
y_train.to_csv(f'{dir_path}/y_train.csv', index=False)
y_test.to_csv(f'{dir_path}/y_test.csv', index=False)

## 8. Resumen de Preprocesamiento

En esta sección, resume los pasos tomados durante el preprocesamiento de datos, incluyendo:

1. **Imputación de Valores Faltantes**: Se imputaron valores faltantes utilizando la moda para variables categóricas y la mediana para variables numéricas.
2. **Manejo de Valores Atípicos**: Se eliminaron valores atípicos basados en el rango intercuartílico (IQR).
3. **Codificación de Variables Categóricas**: Las variables categóricas fueron convertidas a variables dummy.
4. **Escalado de Variables Numéricas**: Las variables numéricas fueron escaladas usando `MinMaxScaler`.
5. **División de Datos**: Los datos fueron divididos en conjuntos de entrenamiento y prueba con una proporción del 75%-25%.